.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 30px;
    margin-top: 50px;
}






@media screen and (max-width:575px) {
    .grid{
        grid-template-columns: 1fr;
    }
    
}