/* Minimal Exchange Modal */

.list-group-item.active {
    background-color: #000000;
    border-color: #000000;
    color: white;
}

.list-group-item {
    transition: background-color 0.2s, border-left 0.2s, padding-left 0.2s;
    border-left: 2px solid transparent;
}

.list-group-item:hover {
    background-color: #f8fafc;
    border-left-color: #000000;
    padding-left: 20px;
}
